/* the color and text change of the Header section of the website */
#header {
    grid-area: header;
    background-color:black;
    color: RED;
    text-align: center;
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
}

#main {
    grid-area: main;
   
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* The creation of the Calculator the 4 by 4 grid of the calculator  */
#grid-container {
    display:grid;
    border: 5px solid darkred;
    grid-template-columns: repeat(4, 1fr);
 }

 #grid-layout {
    display: grid;
    padding:16px;
    grid-template-rows: auto lfr auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
    min-height: 100vh;
 }

 /* The place where the Math is being printed */
 #Display {
    padding:16px;
    border: 5px solid darkred;
    background-color: black;
    color: white;
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
  
    min-height: 30px;
}

 #Screen {
    margin:10vh 10vw;
    color: blue;
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
    
   }

   /* The  way that the Number and Operator look */
button {
    padding:  32px 16px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
}